#container {

height: 700px;
background-color: lightskyblue;

}

textarea {
  resize: none;
}

#password {
  
  width: 300px;
  padding: 100px;
  margin: 20px;
}

#title {
padding: 20px;
background-color: whitesmoke;
}

#body{
background-color: lightblue;
}